<a href="https://colab.research.google.com/github/palanipsb/Python-Learning/blob/main/basicexercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 'Palanivel Subramani'

In [61]:
class BankAccount:
  transactions = {}
  def __init__(self, account_number, balance):
      self.account_number = account_number
      self.balance = balance
      self.transactions.update({self.account_number:{'balance':self.balance}})

In [62]:
class BankTransaction:
  def __init(selfGlob):
    pass
  global transact
  transact = BankAccount

  def deposit(self, account_number, amount):
    self.account_number = account_number
    self.amount = amount
    self.balance = transact.transactions[self.account_number]['balance']
    self.balance += self.amount
    transact.transactions.update({self.account_number:{'balance':self.balance}})

  def withdraw(self,account_number, amount):
    self.account_number = account_number
    self.amount = amount
    self.balance = transact.transactions[self.account_number]['balance']
    if self.amount > self.balance:
        raise ValueError("Not enough funds")
    self.balance -= self.amount
    transact.transactions.update({self.account_number:{'balance':self.balance}})

  def display(self,account_number):
    print(account_number)
    print(transact.transactions)
    print(transact.transactions[account_number]['balance'])

In [56]:
class MenuOptions(BankTransaction):

  def menu(self,option):
    if option == 1:
      self.display(123456)

In [64]:
print(',{} '.format([1,2,3]))

,[1, 2, 3]

In [57]:
my_account = BankAccount(123456, 1000)
my_account2 = BankAccount(123457, 800)

In [58]:
bTrans = BankTransaction()
bTrans.display(123456)

123456
{123456: {'balance': 1000}, 123457: {'balance': 800}}
1000

In [59]:
mn = MenuOptions()
mn.menu(1)

123456
{123456: {'balance': 1000}, 123457: {'balance': 800}}
1000

In [17]:
my_account.transactions[123456]

{'balance': 1000}

In [60]:
bTrans.deposit(123456,100)
bTrans.withdraw(123457,50)

AttributeError: 'BankTransaction' object has no attribute 'transact'

In [ ]:
my_account3 = BankAccount
my_account3.transactions

{'123456': {'balance': 1150}, '123457': {'balance': 850}}

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
b.__len__()

19

In [ ]:
help(str.__add__)

Help on wrapper_descriptor:

__add__(self, value, /)
    Return self+value.

In [ ]:
'Py' 'thon'

'Python'

In [ ]:
a = 'Py'
b = 'thon'

In [ ]:
c = 'Sy' b
c

SyntaxError: invalid syntax (<ipython-input-5-b56e6183828d>, line 1)

In [ ]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
m,n = [5,6],(7,8)

In [ ]:
result = []
for i in [1,2,3,4,5]:
  result.append(i*i)
result

[1, 4, 9, 16, 25]

In [ ]:
result = []
result2 = []
a = 'python'
b = 'learn'
result=[i+j for i in a for j in b]
result
result2=([i[1] for i in result])
print(result2)

['l', 'e', 'a', 'r', 'n', 'l', 'e', 'a', 'r', 'n', 'l', 'e', 'a', 'r', 'n', 'l', 'e', 'a', 'r', 'n', 'l', 'e', 'a', 'r', 'n', 'l', 'e', 'a', 'r', 'n']

In [ ]:
result ={['hi','pen'][i]:[400,200,300][i] for i in range(len(['hi','pen']))}
print(result)

{'hi': 400, 'pen': 200}

In [ ]:
for i,j in result.items():
  print(i)
  print(j)

hi
400
pen
200

In [ ]:
cityDetails = []
bookingHistory = []
foodPrice = 0
trainAvaiabilityDetails={'Chennai':{'availableSeats':10,'fare':200.00},
             'Arakkonam':{'availableSeats':5,'fare':300.00},
             'Coimbatore':{'availableSeats':25,'fare':500.00},
             'Madurai':{'availableSeats':15,'fare':600.00},
             'Salem':{'availableSeats':4,'fare':750.00},
             'Erode':{'availableSeats':8,'fare':610.00},
             'Tiruppur':{'availableSeats':7,'fare':520.00},
             'Villupuram':{'availableSeats':6,'fare':700.00},
             'Tiruchy':{'availableSeats':4,'fare':530.00}}
foodDetails = {1:{'meal':'South Indian Breakfast','price':100.00},
               2:{'meal':'North Indian Breakfast','price':80.00},
               3:{'meal':'South Indian Veg Meal','price':200.00},
               4:{'meal':'South Indian Non Veg Meal','price':250.00},
               5:{'meal':'North Indian Veg Meal','price':150.00},
               6:{'meal':'North Indian Non Veg Meal','price':180.00},
               7:{'meal':'South Indian Dinner','price':140.00},
               8:{'meal':'North Indian Dinner','price':120.00}}

for i in trainAvaiabilityDetails:
  cityDetails.append(i)

print('***********Welcome to simple train booking system***********')

print('Available departure Cities: ')
for i in cityDetails:
  print(i, end=', ')

departure = input('\nPlease enter the departure city: ')
if departure in cityDetails:
  cityDetails.remove(departure)
else:
  departure = input('\nPlease enter the valid departure city: ')

print('Available destination Cities: ')
for i,j in trainAvaiabilityDetails.items():
  if i!=departure:
    print('City : {0} (Available Seats: {1}; Fare: Rs. {2:.2f} per 1)'.format(i,j['availableSeats'],j['fare']))

destination = input('\nPlease enter the destination city Name: ')
if destination not in cityDetails:
  destination = input('\nPlease enter the valid destination city: ')

numberOfPassangers = input('\nPlease enter number of passangers: ')
availableSeats = int([j['availableSeats'] for i,j in trainAvaiabilityDetails.items() if i == destination][0])
if(int(numberOfPassangers)) > availableSeats:
  print("\nAvailable seats: "+ str(availableSeats))
  numberOfPassangers = input('\nPlease enter a valid number of passangers: ')
newAvailableSeat = availableSeats - int(numberOfPassangers)
for i,j in trainAvaiabilityDetails.items():
  if i == destination:
    trainAvaiabilityDetails[i]['availableSeats'] = newAvailableSeat
    break

foodOpt = input('\nPlease enter food option Y/N: ')
if('Y'== foodOpt.upper()):
  for i,j in foodDetails.items():
    print('{0}: {1} (Rs. {2:.2f})'.format(i,j['meal'],j['price']))
  option = input('\nPlease choose the option from the above menu: ')
  numberOfFood = input('\nPlease enter the quantity: ')
  foodPrice = [float(j['price'])*int(numberOfFood) for i,j in foodDetails.items() if i==int(option)][0]
  foodMenu = [j['meal'] for i,j in foodDetails.items() if i==int(option)][0]

finalPrice = [float(j['fare'])*int(numberOfPassangers) for i,j in trainAvaiabilityDetails.items() if i == destination][0]+foodPrice

name = input('\nPlease enter the booking person''s name: ')
age = input('\nPlease enter the person''s age: ')
pnrNumber = destination[0:3].upper()+name.upper() + age
if('Y'==foodOpt.upper()):
  bookingConfirmation = {pnrNumber:{'name':name, 'age':age, 'numberOfPassangers':numberOfPassangers, 'foodQtyMenu':numberOfFood +' ('+foodMenu+')','finalPrice':finalPrice}}
else:
  bookingConfirmation = {pnrNumber:{'name':name, 'age':age, 'numberOfPassangers':numberOfPassangers,'finalPrice':finalPrice}}
bookingHistory.append(bookingConfirmation)
print('\nCongrats! Booking confirmed!. Please note the PNR number to check booking details. PNR: '+pnrNumber)

userPnrNumber = input('\nPlease enter the PNR number for booking details: ')
print('\n'+'*'*20+' Booking Details for PNR: '+userPnrNumber+' '+'*'*20)
for i in bookingHistory:
  for j,k in i.items():
    if(j==userPnrNumber):
      if('foodQtyMenu' in k):
        print('\nName\t\t\t:{name}\nAge\t\t\t:{age}\nNumber of Passangers    :{numberOfPassangers}\nFood Quantity & Menu    :{foodQtyMenu}\nPayment\t\t\t:Rs. {finalPrice:.2f}'.format(**k))
      else:
        print('\nName\t\t\t:{name}\nAge\t\t\t:{age}\nNumber of Passangers    :{numberOfPassangers}\nPayment\t\t\t:Rs. {finalPrice:.2f}'.format(**k))

***********Welcome to simple train booking system***********
Available departure Cities:
Chennai, Arakkonam, Coimbatore, Madurai, Salem, Erode, Tiruppur, Villupuram, Tiruchy,
Please enter the departure city: Chennai
Available destination Cities:
City : Arakkonam (Available Seats: 5; Fare: Rs. 300.00 per 1)
City : Coimbatore (Available Seats: 25; Fare: Rs. 500.00 per 1)
City : Madurai (Available Seats: 15; Fare: Rs. 600.00 per 1)
City : Salem (Available Seats: 4; Fare: Rs. 750.00 per 1)
City : Erode (Available Seats: 8; Fare: Rs. 610.00 per 1)
City : Tiruppur (Available Seats: 7; Fare: Rs. 520.00 per 1)
City : Villupuram (Available Seats: 6; Fare: Rs. 700.00 per 1)
City : Tiruchy (Available Seats: 4; Fare: Rs. 530.00 per 1)

Please enter the destination city Name: Salem

Please enter number of passangers: 3

Please enter food option Y/N: n

Please enter the booking persons name: Palani

Please enter the persons age: 28

Congrats! Booking confirmed!. Please note the PNR number to check booking details. PNR: SALPALANI28

Please enter the PNR number for booking details: SALPALANI28

******************** Booking Details for PNR: SALPALANI28 ********************

Name			:Palani
Age			:28
Number of Passangers    :3
Payment			:Rs. 2250.00